div.books-list {
  width: 49%;
  margin-right:4px;
  float: left;
}

.resource-library h3 {
  background: none repeat scroll 0 0 #E2E2D9;
  border-radius: 2px 2px 2px 2px;
  clear: both;
  color: #321C00;
  display: block;
  margin-bottom: 20px;
  margin-top: 18px;
  overflow: hidden;
  padding: 7px 15px;
  text-shadow: 1px 1px 0 #FFFFFF;
}
.resource-list ul {
  margin-left: 0;
  margin-bottom: 1em;
}
.resource-list li {
  font-size: 12px;
  line-height: 1.3;
  margin: 5px 15px 5px 0;
  color: #86877D;
  background: url("images/bullet.png") no-repeat scroll 15px 6px transparent;
  list-style: none outside none;
  margin-bottom: 0.5em;
  padding: 0 0 0 30px;
}

#page .pane-title {
  display: none;
}

#overlay #page .pane-title {
  display: block;
}

#sermon {
  margin-top: 20px;
}

#sermon .panel-pane {
  margin-bottom: 10px;
}

#sermon .panel-separator {
  display: none;
}

#sermon .inline-item {
  display: inline;
  margin-right: 8px;
}

#sermon .inline-item div, #sermon .inline-item li, #sermon .inline-item ul, #sermon .inline-item .clearfix:after{
  display: inline;
  float: none;
}



#sermon .block .pane-title {
  display: block;
  color: #860C0E;
  font-size: 18px;
  letter-spacing: 0;
}

#sermon .inline-item .pane-title {
  display: inline;
  font-size: 13px;
  margin: 0;
}

#sermon-author div {
  display: inline;
}
  